name: "brew pr-pull"

on:
  pull_request_target:
    types:
    - labeled

jobs:
  pr-pull:
    if: contains(github.event.pull_request.labels.*.name, 'pr-pull')

    runs-on: ubuntu-24.04

    permissions:
      contents: write
      packages: write
      pull-requests: write
      id-token: write

    steps:
    - name: "Generate GitHub App Token"
      id: github-app-token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: ${{ vars.SMYKLOT_APP_ID }}
        private-key: ${{ secrets.SMYKLOT_APP_PRIVATE_KEY }}

    - name: "Set up Homebrew"
      uses: Homebrew/actions/setup-homebrew@75ea84e0c056f44fbc237368be867593cd459107 # master

    - name: "Set up git"
      uses: Homebrew/actions/git-user-config@75ea84e0c056f44fbc237368be867593cd459107 # master

    - name: "Pull bottles"
      env:
        HOMEBREW_GITHUB_API_TOKEN: ${{ steps.github-app-token.outputs.token }}
        HOMEBREW_GITHUB_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        HOMEBREW_GITHUB_PACKAGES_USER: ${{ github.repository_owner }}
        PULL_REQUEST: ${{ github.event.pull_request.number }}
      run: |
        brew pr-pull \
          --debug \
          --tap="$GITHUB_REPOSITORY" \
          --workflows="tests.yml" \
          "$PULL_REQUEST"

    - name: "Push commits"
      uses: Homebrew/actions/git-try-push@75ea84e0c056f44fbc237368be867593cd459107 # master
      with:
        token: ${{ steps.github-app-token.outputs.token }}
        branch: main

    - name: "Delete branch"
      if: github.event.pull_request.head.repo.fork == false
      env:
        BRANCH: ${{ github.event.pull_request.head.ref }}
      run: git push --delete origin "$BRANCH"
